body {
  font-family: 'Roboto', sans-serif;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

.sidebar-wrapper {
  margin-top: 30px;
}
.sidebar {
  text-align: center;
  height: calc(100vh - 56px);
  .buttons {
    .btn {
      margin-top: 10px;
    }
  }
}

.myProgress {
  width: 100%;
  background-color: grey;
  bottom: 0;
  position: absolute;
}
.myBar {
  height: 20px;
  background-color: green;
  transition: width .2s ease-in;
}

.image-wrapper {
  padding: 0;
  position: relative;
}
.picture-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 76px);
  min-height: 600px;
}
.picture {
  max-width: 500px;
  max-height: 500px;
}

.bold {
  font-weight: bold;
}
.grey {
  color: grey;
}
.spacer {
  margin-top: 10px;
  margin-bottom: 10px;
}
.white-frame {
  border: 10px solid white;
}
.green-frame {
  border: 10px solid green;
}
.red-frame {
  border: 10px solid red;
}
.yellow-frame {
  border: 10px solid yellow;
}
